body {
  font: 22px Courier, sans-serif;
}

div {
  border: 1px solid rgb(158, 158, 158);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin: 0px 0px 8px 0px;
  font: bold 22px Arial, sans-serif;
}

hr {
  margin: 5px 0px 15px 0px;
  background-color: rgb(124,124,124);
  height: 1px;
  border: 0px;
}

label {
  display: inline-block;
  margin: 0px 0px 12px 5px;
}

input{
  width: 80%;
}

#app_window {
  margin: 16px auto 0px auto; padding: 15px 20px;
  width: 260px; height: 440px;
  background-color: #d9d6ce;
}

#backdrop{
  margin: 0px 0px 15px 0px;
  height: 216px;
  border-radius: 4px;
  background-color: red;
}

#hex_out_label{
  margin: 2px 0px 0px 110px;
}

#hex_out{
  border-radius: 4px;
  font-size: 19px;
  padding: 2px;
  width: 86px; height: 19px;
  float: right;
}

